<div id="publications" class="tab-content">
  <h3 class="section-title">📄 Publications</h3>
  
  <div class="pub-item">
    <h4>[C1] 논문 제목을 여기에</h4>
    <p class="authors"><u>Wonjun Choi</u>, Co-author Name</p>
    <p class="venue">Conference Name, 20XX</p>
  </div>
  
  <div class="pub-item">
    <h4>[W1] 워크샵 논문 제목</h4>
    <p class="authors"><u>Wonjun Choi</u>, Co-author Name</p>
    <p class="venue">Workshop Name @ Conference, 20XX</p>
  </div>

  <p style="color: var(--text-muted-color); font-style: italic;">
    * 논문이 추가되면 업데이트됩니다.
  </p>
</div>

